 body {
  /* background-image: url("./Assets/1.png.jpg"); */
  background-repeat: no-repeat;
  background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .signup-container {
    background-color: rgba(138, 135, 135, 0.462);
    font-family:'Trebuchet MS';
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(129, 130, 131);
    backdrop-filter: blur(15px);
    padding: 30px;
    width: 350px;
    text-align: left;
    margin-bottom: 0%;
    margin-left: 100% ;

  }
  
  h2 {
    color: #fff;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .input-group label {
    font-size: 16px;
    margin-bottom: 5px;
    color: #fff;
  }
  
  .input-group input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .signup-button {
    background-color: #4a3fdb;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
  }
  
  p {
    font-size: 14px;
    color: #faf6f6;
  }
  
  a {
    color: #a3a3a3;
    text-decoration: none;
  }


  .password-options{
    position: relative;
    text-align: right;
    top: -38px;
  }

  .user-icon{
    font-size: 20px;
    color:#fff;
    /* margin-bottom: -16%;
    margin-left: 22%; */
  }

  /* https://img.freepik.com/free-photo/computer-monitor-keyboard-wooden-table-dark-room-night_1142-41875.jpg?t=st=1702407667~exp=1702411267~hmac=7e4bcb5a6553dbbe1f3825182e65dab03edf8d0b5840fb67313bd16befbd5807&w=1060 */